{
    "env": {
        "browser": true,
        "node": true,
        "commonjs": true,
        "es6": true
    },
    "extends": "airbnb-base",
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 2015,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "indent": ["error", 4],
        "array-bracket-spacing": ["error", "never"],
        "strict": 0,
        "comma-dangle": ["error", "never"],
        "keyword-spacing": 2,
        "brace-style": [2, "stroustrup"],
        "quote-props": ["error", "consistent-as-needed"],
        "no-param-reassign": ["error", {
            "props": true,
            "ignorePropertyModificationsFor": [
                "config", // for webpack cofig
                "options",  // for webpack options
                "plugin", // for webpack plugin
                "state", // for vuex state
                "acc", // for reduce accumulators
                "e" // for e.returnvalue
            ]
        }],
        "max-len": [1, {
            "code": 120,
            "ignoreUrls": true,
            "ignoreStrings": true,
            "ignoreTemplateLiterals": true,
            "ignoreRegExpLiterals": true,
            "ignoreComments": true
        }]
    }
}
